@{
    ViewData["Title"] = "About";
}

<div class="calosha">
    <h3>ABOUT US</h3>
    <p>WAXYABAHA AAN KU SAMAYNKARO WAXAA KAMAID AH  </p>

    <div class="box">
        <h4>Front End</h4>
        <img src="~/images/html.png" class="me" />
        <ol>
            <li>HTML</li>
            <li>CSS</li>
            <li>BOOTSTRAP</li>
            <li>JAVASCIPT</li>
            <li>JQUERY</li>
        </ol>
    </div>
    <div class="box">
        <h4>Back End</h4>
        <img src="~/images/css.png" class="me" />
        <ol>
            <li>C#</li>
            <li>Asp.NET</li>
            <li>MVC</li>
            <li>EF</li>
            <li>LINQ</li>
        </ol>
    </div>
    <div class="box">
        <h4>Datase</h4>
        <img src="~/images/bootstrap.jpg" class="me" />
        <ol>
            <li>MSSQL</li>
            <li>Oracle</li>
            <li>PostGress</li>
            <li>Casndre</li>
            <li>MySql</li>
        </ol>
    </div>


    <br class="clear" />

    <h3>PLEASE HIRE ME</h3>

    <p>

        ANIGU WAXAAN AHAY PROGRAMMER soft were SIDA WEPKA LOO DHISO iyo wixii lamid ah EE FADLAN ISHAQALAYSII
    </p>
</div>




