@{
    ViewData["Title"] = "Contact";
}

    <div class="calosha">



        
       <h3>Our Contact Infromation</h3>

        <div class="box">
            <h4>ADDRESS</h4>
            <address>
                3350 clevland ave  <br />
                columbus ohio 43224 <br />
            </address>
        </div>

        <div class="box">
            <h4>TELEPHONE</h4>
            <address>
                <abbr title="phone"></abbr>
                +1(614)285-0964

            </address>

        </div>

        <div class="box">
            <h4>EMAIL</h4>
            <address>
                <strong>EMAIL1</strong> <a href="mailto:duceysane@duceysane.com">duceysane@ducysane.com</a><br />
                <strong>Email2</strong> <a href="mailto:duceysane@duceysano.com">duceysane@duceysano.com</a><br />

            </address>

        </div>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3054.7626095475434!2d-82.96379738461562!3d40.03607927941116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88388bb82fe2aef1%3A0xf72f5638e8d45f1b!2s3350%20Cleveland%20Ave%2C%20Columbus%2C%20OH%2043224!5e0!3m2!1sen!2sus!4v1568587440584!5m2!1sen!2sus" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>