
@{
    ViewData["Title"] = "skills";
}

<div class="calosha">

    <h3>OUR skills</h3>

    <p>Waa skills an samemeyay waa kuwan</p>

    <div class="box">
        <h4>XIRFADA 1</h4>

        <img src="~/images/skills image 2.jpg"class="me" />
        <ol>
            <li>HTML</li>
            <p>
                WAXAAN SAMEEYEY PROFTLIO HTML WEBSIT

                <br />
                webkan wuxuu iga cawinayaa inaan ku soo bandhigo
                <br />
                waxyabaha html ah ee aan aqoonta uleyahay
            </p>

        </ol>
    </div>
    <div class="box">
        <h4>XIRFADA 2</h4>

        <img src="~/images/skills image 3.jpg"class="me" />
        <ol>
            <li>C#</li>
            <p>
                WAXAAN SAMEEYEY PROFTLIO C# WEBSIT

                <br />
                webkan wuxuu iga cawinayaa inaan ku soo bandhigo
                <br />
                waxyabaha html ah ee aan aqoonta uleyahay
            </p>
        </ol>
    </div>
    <div class="box">
        <h4>XIRFADA 3</h4>

        <img src="~/images/skills image.jpg" class="me" />

        <ol>
            <li>MSSQL</li>
            <p>
                WAXAAN SAMEEYEY PROFTLIO SQ WEBSIT

                <br />
                webkan wuxuu iga cawinayaa inaan ku soo bandhigo
                <br />
                waxyabaha html ah ee aan aqoonta uleyahay
            </p>
        </ol>
    </div>


    <br class="clear" />

    <h3>PLEASE HIRE ME</h3>

    <p>

        ANIGU WAXAAN AHAY PROGRAMMER soft were SIDA WEPKA LOO DHISO iyo wixii lamid ah EE FADLAN ISHAQALAYSII
    </p>
</div>

