<!DOCTYPE HTML>
<html>

<head>
    <title>M duaysane profile</title>
    <meta discription="discription" content="kani waa webka uleyahay duaysane oo u ku xayaysinayo aqoontisa" /> 

    <link href="~/css/M MY WEBSETSTYLSHEET.css" rel="stylesheet" />
</head> 

<body>
     
    <div class="header-container">
        <ul>

            <li class="hire-me menu">
                <a href="/home/index" class="nav-link">HOME PAGE</a>
            </li>
            <li class="menu">
                <a href="/home/contact" class="nav-link">CONTACT</a>
            </li>
            <li class="menu">
                <a href="/home/projects" class="nav-link">PROJECTS</a>
            </li>
            <li class="menu">
                <a href="/home/skills" class="nav-link">SKILLS</a>
            </li>
            <li class="menu">
                <a href="/home/about" class="nav-link">ABOUT</a>
            </li>
        </ul>


        <div class="banner-area">
            <img src="~/images/my logo.png" class="me" />
            <h1>M duaysane</h1>
            <h2>SOFTWERE INGINEER</h2>
            <hr />
            <p class="bio">
                I am an ambitious Full Stack .NET developer and Software Engineer with high passion for building reliable, efficient and innovative web and desktop applications. I am well-versed in Microsoft .NET Framework, object-oriented paradigms, front and back-end web development, and agile software development and TDD/BDD testing. I am very dedicated, self-motivated, and driven learner who stays up to date with the latest technologies and industry trends. I am excited to work in a challenging .NET software development projects-solutions where I can utilize and expand my skill set in a dedicated, motivated and collaborative team environment

            </p>
        </div>
    </div>


    <div class=" main"> 
        <hr class="yallow" />
        <div class="center">
            @RenderBody()
        </div>

       
        <hr class="yallow" />

        <div class="icons">
            <img src="~/images/html.png" class="icon" />
            <img src="~/images/css.png" class="icon" />
            <img src="~/images/bootstrap.jpg" class="icon" />
        </div>

    </div>

  
    <!--kani waa footerka-->
    <div class="footer">
        <p>
             &copy; all rights reserved 2020 <a href="http://google.com" target="_blank">byMduaysane</a>
        </p
    </div>





</body>














</html>