<!doctype html>

<html>



<head>





</head>

<body>
<!--halkanan waxaan galindona hearkii-->

    <div>

        <ul>
            <li>
                <a href="#">khalif sanka</a>

                <a href="#">taaj express</a>

                <a href="#">shafici manger</a>

                <a href="#">liban walal</a>

                <a href="#">duceysane manger</a>
                 

                
            </li>
        </ul>
    </div>







    <!--halkana waxaan galindona miinkii-->
    <div>

     @RenderBody()

    </div>



    <!--halkana waxaaan galindoonaafootarkii-->








</body>
</html>